<h1>Editing Guidance Group</h1>

<% form_for(@guidance_group) do |f| %>
  <%= f.error_messages %>
  <p>Name: <%= f.text_field :name, :size => 30 %></p>
  <p>Code: <%= f.text_field :code, :size => 10 %></p>
  <p>Guidance Teacher(s):</p>
  <% for user in @guidance_teachers %>
<div>
  <%= check_box_tag "guidance_group[user_ids][]", user.id, @guidance_group.users.include?(user) %>
  <%= user.fullname %>
</div>
<% end %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @guidance_group %> |
<%= link_to 'Back', guidance_groups_path %>
